.footer-bg {
    display: flex;
    justify-content: space-between;
    padding: 150px 140px;
}

.off p {
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #252323;
    text-align: left;
    margin: 0 ;
    padding-left: 10px;
    width: 250px;
}

.footer-lists {
    display: flex;
    gap: 50px;
}

.lista {
    list-style: none;
}

.lista a {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #252323;
    text-decoration: none;
}

.lista li {
    margin-bottom: 12px;
}

.bold a {
    font-weight: bold;
}

.width a {
    width: 140px;
}